//================> Blur
.blur {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.24);
	z-index: 1000;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 0 20px;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	overflow-y: scroll;
	& > {
		cursor: pointer !important;
	}
	&.active {
		opacity: 1;
		visibility: visible;
	}
}

//================> Popups
.popup {
    opacity: 0;    
    transition: 0.2s;
	visibility: hidden;
	transition: 0.2s;
	display: flex;
	flex-direction: column;	
    &.active {
        opacity: 1;
        visibility: visible;
	}
}

.modal__close {
	cursor: pointer;
	svg {
		transition: 0.2s;
	}
	&:hover {
		svg {
			transform: rotate(90deg);
		}
	}
}

.modal-1 {
	position: fixed;
	width: calc(100% - 100px);
    max-width: 500px;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 20px;
}

.blur {
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 50;
}