<div class="pageNavFixed">
	<div class="pageNavFixed__cont">
		<div>
			<b>Страницы</b>
			<a href="bio.html">bio</a>
			<a href="catalog.html">каталог</a>
			<a href="deti-1.html">продукция-1</a>
			<a href="deti-2.html">продукция-2</a>
			<a href="deti-3.html">продукция-3</a>
			<a href="deti-4.html">продукция-4</a>
			<a href="deti-5.html">продукция-5</a>
			<a href="index.html">главная</a>
		<div>
		</div>
			<b>Попапы</b>
			<a href="#" class="completed" data-popup='register'>register</a>
		</div>
	</div>
</div>